trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  javaVersion: '21'

stages:
- stage: Build
  jobs:
  - job: BuildJob
    steps:
    - task: JavaToolInstaller@0
      inputs:
        versionSpec: '$(javaVersion)'
        jdkArchitectureOption: 'x64'
        jdkSourceOption: 'PreInstalled'

    - task: Gradle@3
      displayName: 'Gradle: Build + Test + Coverage'
      inputs:
        workingDirectory: 'app'
        gradleWrapperFile: 'gradlew'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '$(javaVersion)'
        jdkArchitectureOption: 'x64'
        publishJUnitResults: true
        testResultsFiles: |
          **/test-results/test/TEST-*.xml
          **/test-results/cucumber.xml
        tasks: 'clean test jacocoTestReport jacocoTestCoverageVerification shadowJar'

    - task: PublishCodeCoverageResults@1
      displayName: 'Publish JaCoCo coverage'
      inputs:
        codeCoverageTool: 'JaCoCo'
        summaryFileLocation: 'app/build/reports/jacoco/test/jacocoTestReport.xml'
        reportDirectory: 'app/build/reports/jacoco/test'
        failIfCoverageEmpty: true

    - task: CopyFiles@2
      displayName: 'Copy build outputs'
      inputs:
        contents: |
          app/build/**
        targetFolder: '$(Build.ArtifactStagingDirectory)'

    - task: PublishBuildArtifacts@1
      displayName: 'Publish build-outputs artifact'
      inputs:
        pathToPublish: '$(Build.ArtifactStagingDirectory)'
        artifactName: 'build-outputs'

- stage: CodeAnalysis
  displayName: 'SonarCloud Code Analysis'
  dependsOn: Build
  jobs:
  - job: SonarAnalysis
    steps:
    - task: DownloadBuildArtifacts@0
      inputs:
        buildType: 'current'
        downloadType: 'single'
        artifactName: 'build-outputs'
        downloadPath: '$(System.DefaultWorkingDirectory)'

    - task: Gradle@3
      displayName: 'Run SonarCloud (Gradle)'
      inputs:
        workingDirectory: 'app'
        gradleWrapperFile: 'gradlew'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '$(javaVersion)'
        tasks: 'sonarqube -Dsonar.login=$(SONAR_TOKEN)'

    - script: |
        echo "View analysis at:"
        echo "https://sonarcloud.io/project/overview?id=X00195992_CA3"
      displayName: 'SonarCloud link'