- stage: Build
  jobs:
  - job: BuildJob
    displayName: 'Build & Test & Coverage'
    steps:
    - task: JavaToolInstaller@0
      inputs:
        versionSpec: '21'
        jdkArchitectureOption: 'x64'
        jdkSourceOption: 'PreInstalled'

    - task: Gradle@3
      displayName: 'Gradle: clean test coverage shadowJar'
      inputs:
        # IMPORTANT: no workingDirectory here
        gradleWrapperFile: 'gradlew'
        gradleOptions: '-Xmx1024m'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '21'
        jdkArchitectureOption: 'x64'
        publishJUnitResults: true
        testResultsFiles: |
          **/build/test-results/test/*.xml
          **/build/test-results/cucumber.xml
        tasks: 'clean :app:test :app:jacocoTestReport :app:jacocoTestCoverageVerification :app:shadowJar'

    - task: PublishCodeCoverageResults@1
      displayName: 'Publish JaCoCo coverage'
      inputs:
        codeCoverageTool: 'JaCoCo'
        summaryFileLocation: 'app/build/reports/jacoco/test/jacocoTestReport.xml'
        reportDirectory: 'app/build/reports/jacoco/test'
        failIfCoverageEmpty: true

    - task: CopyFiles@2
      displayName: 'Copy build outputs'
      inputs:
        contents: |
          app/build/libs/*all.jar
          app/build/reports/jacoco/test/jacocoTestReport.xml
          app/build/test-results/test/*.xml
        targetFolder: '$(Build.ArtifactStagingDirectory)'

    - task: PublishBuildArtifacts@1
      displayName: 'Publish build-outputs artifact'
      inputs:
        pathToPublish: '$(Build.ArtifactStagingDirectory)'
        artifactName: 'build-outputs'