# Minimal pipeline: Build + Test + Coverage + Artifact
# Triggers on pushes and PRs to main & dev

trigger:
  branches:
    include:
      - main
      - dev

pr:
  branches:
    include:
      - main
      - dev

pool:
  vmImage: 'ubuntu-latest'

variables:
  javaVersion: '21'

stages:
- stage: Build
  displayName: 'Build & Test & Coverage'
  jobs:
  - job: BuildJob
    displayName: 'Gradle build/test/coverage'
    steps:
    - task: JavaToolInstaller@0
      displayName: 'Use Java 21'
      inputs:
        versionSpec: '$(javaVersion)'
        jdkArchitectureOption: 'x64'
        jdkSourceOption: 'PreInstalled'

    - task: Gradle@3
      displayName: 'Gradle: clean test coverage shadowJar'
      inputs:
        gradleWrapperFile: 'gradlew'
        gradleOptions: '-Xmx1024m'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '$(javaVersion)'
        jdkArchitectureOption: 'x64'
        publishJUnitResults: true
        testResultsFiles: |
          **/build/test-results/test/*.xml
          **/build/test-results/cucumber.xml
        tasks: 'clean :app:test :app:jacocoTestReport :app:jacocoTestCoverageVerification :app:shadowJar'

    - task: PublishCodeCoverageResults@1
      displayName: 'Publish JaCoCo coverage'
      inputs:
        codeCoverageTool: 'JaCoCo'
        summaryFileLocation: 'app/build/reports/jacoco/test/jacocoTestReport.xml'
        reportDirectory: 'app/build/reports/jacoco/test'
        failIfCoverageEmpty: true

    - task: CopyFiles@2
      displayName: 'Copy build outputs'
      inputs:
        contents: |
          app/build/libs/*all.jar
          app/build/reports/jacoco/test/jacocoTestReport.xml
          app/build/test-results/test/*.xml
          app/build/test-results/cucumber.xml
        targetFolder: '$(Build.ArtifactStagingDirectory)'

    - task: PublishBuildArtifacts@1
      displayName: 'Publish build-outputs artifact'
      inputs:
        pathToPublish: '$(Build.ArtifactStagingDirectory)'
        artifactName: 'build-outputs'

- stage: CodeAnalysis
  displayName: 'SonarCloud Code Analysis'
  dependsOn: Build
  jobs:
  - job: SonarAnalysis
    displayName: 'Run SonarCloud (Gradle)'
    steps:
    - checkout: self
      fetchDepth: 0

    - task: DownloadBuildArtifacts@0
      displayName: 'Download build outputs'
      inputs:
        buildType: 'current'
        downloadType: 'single'
        artifactName: 'build-outputs'
        downloadPath: '$(System.DefaultWorkingDirectory)'

    - task: Gradle@3
      displayName: 'Gradle: sonarqube (using downloaded reports)'
      inputs:
        workingDirectory: 'app'
        gradleWrapperFile: 'gradlew'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '$(javaVersion)'
        jdkArchitectureOption: 'x64'
        tasks: >
          sonarqube
          -Dsonar.login=$(SONAR_TOKEN)
          -Dsonar.gradle.skipCompile=true
          -Dsonar.java.binaries=$(System.DefaultWorkingDirectory)/build-outputs/app/build/classes/java/main
          -Dsonar.coverage.jacoco.xmlReportPaths=$(System.DefaultWorkingDirectory)/build-outputs/app/build/reports/jacoco/test/jacocoTestReport.xml

    - script: |
        echo "SonarCloud dashboard:"
        echo "https://sonarcloud.io/project/overview?id=X00195992_CA3"
      displayName: 'Echo SonarCloud URL'